$gray1 : #838b95;
$gray2 : #9ba2aa;
$navColor: #646e7b;
$main: #ebeff1;
$inputPlaceholder: #CED4DB;




.nav {
    padding: 10px;
    background-color: $navColor;
  }
  
  body {
    margin:0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: $main;
    font-size: 15px;
  }
  
  .display {
    max-width: 1260px;
    width: fit-content;
    height: 300px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
  input {
    width: 400px;
    text-align: left;
    padding: 12px;
    background-color: $gray1;
    color: white;
    border: 0;
    margin: 2px;
  }

  input::placeholder {
    color: $inputPlaceholder;
  }

  .temp{
  font-size:2.2em;
  text-align: center;
  
  }

  #big{
    font-size:3.8em;;
  }
  
  .city {
    color: $gray2;
    width:400px;
    height: 80px;
    float: left;
    margin: 10px;
    background-color: white;
    font-size: 0.95em;
    display: flex;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
    cursor:default;
  } 
  

  .x{
    cursor: pointer;
    color: white;

  }
  
  .left{ 
    padding-left: 4%;
    text-align: left;
    width: 35%;
    
  }
  .mid{
    width: 30%;
    
  }

  .right{ 
    padding-right: 4%;
    text-align: right;
    width: 35%;
    
  }

  .bar{
    width: fit-content;
    height: fit-content;
    min-height: 45px;
    padding: 5px;
    margin: auto;
    background-color: $gray1;
    text-align: left;
   
  }

  .btn{
    color:white;
    padding: 6px;
    margin: 6px;
    background-color: $gray2;
    display: inline;
    border: 0.5px solid  $gray2;
    box-sizing: border-box;
    user-select: none;
    cursor: default;
    border-radius: 4px;
    cursor: pointer;
    
  }

  input:focus{
    outline: none;
  }

strong{
  color: black;
}

@media only screen and (max-width: 1260px) {
  .display {
    max-width: 890px;
  }

  input{
    width:fit-content;
    height: 20px;
  }

}

@media only screen and (max-width: 840px) {
  .display {
    max-width: 420px;
  }
}
  
@media only screen and (max-width: 500px) {
 
  .city {
    width: 300px;
    height: fit-content;
  }

  .display{
    width: 320px;
  }
  .nav{
    width:auto;
  }
  .bar{
    width: fit-content;
    height: fit-content;
    padding:2px;
  }
  input {
    font-size:16px;
  }
  body{
    font-size: 14px;
  }
  .left{ 
    padding-left: 2%;
    
  }
  
  .right{ 
    padding-right: 2%;
  }
}

