.nav {
  padding: 10px;
  background-color: #646e7b; }

body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #ebeff1;
  font-size: 15px; }

.display {
  max-width: 1260px;
  width: fit-content;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

input {
  width: 400px;
  text-align: left;
  padding: 12px;
  background-color: #838b95;
  color: white;
  border: 0;
  margin: 2px; }

input::placeholder {
  color: #CED4DB; }

.temp {
  font-size: 2.2em;
  text-align: center; }

#big {
  font-size: 3.8em; }

.city {
  color: #9ba2aa;
  width: 400px;
  height: 80px;
  float: left;
  margin: 10px;
  background-color: white;
  font-size: 0.95em;
  display: flex;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  cursor: default; }

.x {
  cursor: pointer;
  color: white; }

.left {
  padding-left: 4%;
  text-align: left;
  width: 35%; }

.mid {
  width: 30%; }

.right {
  padding-right: 4%;
  text-align: right;
  width: 35%; }

.bar {
  width: fit-content;
  height: fit-content;
  min-height: 45px;
  padding: 5px;
  margin: auto;
  background-color: #838b95;
  text-align: left; }

.btn {
  color: white;
  padding: 6px;
  margin: 6px;
  background-color: #9ba2aa;
  display: inline;
  border: 0.5px solid #9ba2aa;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
  border-radius: 4px;
  cursor: pointer; }

input:focus {
  outline: none; }

strong {
  color: black; }

@media only screen and (max-width: 1260px) {
  .display {
    max-width: 890px; }

  input {
    width: fit-content;
    height: 20px; } }
@media only screen and (max-width: 840px) {
  .display {
    max-width: 420px; } }
@media only screen and (max-width: 500px) {
  .city {
    width: 300px;
    height: fit-content; }

  .display {
    width: 320px; }

  .nav {
    width: auto; }

  .bar {
    width: fit-content;
    height: fit-content;
    padding: 2px; }

  input {
    font-size: 16px; }

  body {
    font-size: 14px; }

  .left {
    padding-left: 2%; }

  .right {
    padding-right: 2%; } }

/*# sourceMappingURL=index.css.map */
